p{
  margin: 0px;
}
div.blog-container h1{
  font-size: 45pt;
  font-weight: bold;
}

div.blog-container h2{
  font-size: 23pt;
  font-weight: bold;
  margin-bottom: 14px;
}

div.blog-container h3{
  font-size: 16pt;
  font-weight: bold;
  margin-bottom: 14px;
}

code{
  background-color: var(--code-background);
  padding: 3px 8px;
  border-radius: 4px;
  word-spacing: 3px;
  font-size: smaller;
  font-family: var(--font-family-primary);
}

code.hljs {
  padding: 20px;
  font-size: unset;
}

blockquote{
  background-color: var(--code-background);
  margin: 0px;
  padding: 10px;
  padding-left: 20px;
  border-left: 3px solid #333;
}
hr{
  border-color: var(--code-background);
  opacity: .3;
}

.theme-container {
  display: inline-block;
  margin-bottom: 20px;
  width: 45%;
}
.theme-info {
  padding: 10px 10px 20px 10px;
  background-color: var(--elevation-background);
  width: 100%;
}
.theme-info > .theme-name {
  font-weight: bold;
  font-size: 17pt;
  padding: 5px 0px;
}
.theme-links > a {
  margin-right: 15px;
}
.theme-create-locally {
  font-size: 11pt;
  padding: 10px 0px;
}
.theme-create-locally code {
  overflow-x: scroll;
  white-space: nowrap;
}
.theme-create-locally code::-webkit-scrollbar {
  height: 2px;
}
.theme-create-locally code::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

@media (max-width: 768px) {
  .theme-container {
    width: 100%;
  }
  div.blog-container h1{
    font-size: 30pt;
  }
}