/*

--rich-black-fogra-29: #03040dff;
--oxford-blue: #040923ff;
--oxford-blue-2: #040e39ff;
--midnight-blue: #071b74ff;
--dark-cornflower-blue: #364796ff;
--violet-blue-crayola: #6473b8ff;
--lavender-blue: #c0cbfbff;
--lavender-web: #e7ebfdff;

*/
:root {
  --blue-1: #03040d;
  --blue-2: #040923;
  --blue-3: #071b74;
  --blue-4: #364796;
  --blue-5: #6473B8;
  --blue-6: #929FDA;
  --blue-9: #c0cbfb;
  --blue-10: #e7ebfd;
}

body {
  --font-family: "DM Sans";
  --font-family-mono: "DM Mono";

  --font-color-primary: var(--blue-2);
  --background-primary: #fafaff;
}

body.dark {
  --font-color-primary: var(--blue-6);
  --background-primary: var(--blue-1);
}


body {
  background-color: var(--background-primary);
  color: var(--font-color-primary);
  font-family: var(--font-family);
  padding: 100px 200px;
}

a { 
  text-decoration: none; 
  color: var(--blue-5);
}

code {
  font-family: var(--font-family-mono);
}

h1 { font-size: 7rem; }
h2 { font-size: 2.2rem; }
h3 { font-size: 1.6rem; }

.m-0 { margin: 0px; }
.m-1 { margin: 0.5rem; }
.m-2 { margin: 1rem }

.p-1 { padding: 0.5rem; }
.p-2 { padding: 1rem; }

.button-primary,
.button-secondary {
  display: inline-block;
  border-radius: 6px;
  min-width: 100px;
  text-align: center;
}

.button-primary {
  padding: 10px 20px;
}

.button-secondary {
  display: inline-block;
  padding: 8px 20px;
  border-radius: 6px;
  min-width: 100px;
}

.button-primary {
  background-color: var(--blue-2);
  color: var(--blue-9);
}

.button-secondary {
  background-color: transparent;
  color: var(--blue-3);
  border: 2px solid var(--blue-3);
}

body.dark .button-primary {
  background-color: var(--blue-4);
  color: var(--blue-10);
}

body.dark .button-secondary {
  color: var(--blue-5);
  border: 2px solid var(--blue-4);
}


.text-m { font-size: 1.2rem; }
.text-l { font-size: 1.5rem; }
.text-xl { font-size: 2rem; }
.text-xxl {
  font-size: 3rem;
  font-weight: bold;
}

.text-bold { font-weight: bold; }
.text-center { text-align: center; }

body.dark .text-shadow {
  text-shadow: 3px 5px 2px #0004;
}

.text-shadow {
  text-shadow: 3px 5px 2px #0002;
}

.shadow {
  box-shadow: 3px 5px 2px #0004;
}