/* CSS Variables defined in ./global.css */

header{
  width: 100%;
  padding: 100px 200px;
}
header > h1{
  margin: 10px 0px;
  font-size: 50pt;
}

.article-date {
  font-size: 10pt;
  color: var(--font-color-primary);
  padding: 0px 3px 2px 1px;
}
.article-container {
  padding: 30px 200px 100px 200px;
}
.article-container > article{
  background-color: var(--elevation-background);
  margin-bottom: 30px;
}
.article-container > article > a {
  padding: 30px;
  display: block;
}
.article-container > article h2{
  margin: 9px 0px 0px 0px;
}
.article-container .article-description{
  margin: 3px 0px;
  color: var(--font-color-primary);
}

@media (max-width: 768px) {
  header{
    padding: 30px 20px 100px 20px;
  }
  .article-container{
    padding: 20px 20px 20px 20px;
  }
  .article-container > article > a {
    padding: 15px 20px;
    display: block;
  }
}