/* CSS Variables defined in ./global.css */

section {
  padding: 30px 0px;
}

header.landing{
  width: 100%;
  padding: 130px 300px;
  background: var(--header-background);
  overflow-y: hidden;
  position: relative;
  text-align: center;
}
header.landing .header-abell-logo {
  position: absolute;
  bottom: -200px;
  filter: grayscale(100%);
  opacity: .2;
  right: 0px;
  width: 600px;
}
body.dark header.landing .header-abell-logo {
  filter: grayscale(100%) invert(100%);
  opacity: .07;
}
header.landing h1{
  margin: 10px 0px;
  font-size: 50pt;
}

h2 {
  font-size: 26pt;
}

h3 {
  font-size: 20pt;
  margin: 40px 0px 10px 0px !important;
}
.header-bio {
  font-size: 18pt;
  position: relative;
  z-index: 1;
}
.large-text {
  font-size: 1.4rem;
  font-weight: bold;
}

.announcement {
  padding: 40px 0px;
}
.announcement-tile {
  color: var(--font-color-primary);
  background-color: var(--code-background);
  padding: 30px;
  display: block;
}

main {
  padding: 100px 200px;
}


nav.side-nav {
  display: none;
}
.contributor {
  padding: 10px;
  display: inline-block;
}

.gold-sponsors {
  padding: 30px;
}
.sponsor-main {
  display: inline-block;
}

.sponsor-main .sponsor-name {
  display: block;
  text-align: center;
  padding: 5px;
  color: var(--font-color-primary);
  font-size: 1.2rem;
  font-weight: bold;
}
@media (max-width: 768px) {
  header.landing {
    padding: 150px 20px 100px 20px;
  }
  header.landing .header-bio {
    font-size: 14pt;
  }
  header.landing .header-abell-logo {
    opacity: .1;
  }

  main {
    padding: 100px 30px;
  }

  /* Overrride nav styles for index */
  nav.side-nav {
    display: inline-block;
    padding-top: 30px !important;
  }
  nav.side-nav br:not(:first-child), nav.side-nav hr {
    display: none;
  }
}