/* CSS Variables defined in ./global.css */
body {
  --header-background: #eee;
}
body.dark {
  --header-background: #292929;
}
header.landing{
  width: 100%;
  padding: 130px 300px;
  background-color: var(--header-background);
  overflow-y: hidden;
  position: relative;
  text-align: center;
}
header.landing .header-abell-logo {
  position: absolute;
  bottom: -200px;
  filter: grayscale(100%);
  opacity: .2;
  right: 0px;
  width: 600px;
}
body.dark header.landing .header-abell-logo {
  filter: grayscale(100%) invert(100%);
  opacity: .1;
}
header.landing h1{
  margin: 10px 0px;
  font-size: 50pt;
}

h2 {
  font-size: 26pt;
}

h3 {
  font-size: 20pt;
  margin: 40px 0px 10px 0px !important;
}
.header-bio {
  font-size: 18pt;
  position: relative;
  z-index: 1;
}

main {
  padding: 100px 200px;
}


code {
  background-color: var(--code-background);
  padding: 3px 8px;
  border-radius: 4px;
  font-family: var(--font-family-primary);
}

code.nohighlight {
  padding: 20px;
}

nav.side-nav {
  display: none;
}

@media (max-width: 768px) {
  header.landing {
    padding: 150px 20px 100px 20px;
  }
  header.landing .header-bio {
    font-size: 14pt;
  }
  header.landing .header-abell-logo {
    opacity: .1;
  }

  main {
    padding: 100px 30px;
  }

  /* Overrride nav styles for index */
  nav.side-nav {
    display: inline-block;
    padding-top: 30px !important;
  }
  nav.side-nav br:not(:first-child), nav.side-nav hr {
    display: none;
  }
}