body {
  height: 100%;
}
.flex-container {
  display: flex;
  margin-top: 50px;
}

main {
  display: inline-block;
  flex: 1;
  font-size: 1.02rem;
}

.blog-container {
  padding: 100px 100px;
}

p {
  margin: 0px;
  padding: 10px 0px 6px 0px;
}

main {
  display: inline-block;
  width: calc(100% - 350px);
}

.content {
  width: 100%;
  overflow-x: hidden;
  word-wrap: break-word;
}

div.blog-container h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 7px;
}

div.blog-container h1 + p {
  opacity: .6;
  margin-top: 0px;
  margin-bottom: 25px;
  font-size: 1.5rem;
}

div.blog-container h2 {
  font-size: 23pt;
  font-weight: bold;
  margin-bottom: 14px;
  margin-top: 48px;
}

div.blog-container h3 {
  font-size: 16pt;
  font-weight: bold;
  margin-bottom: 14px;
}

blockquote {
  background-color: var(--code-background);
  margin: 0px;
  padding: 10px;
  padding-left: 20px;
  border-left: 3px solid #333;
}

summary {
  cursor: pointer;
}

details {
  border: 1px solid var(--code-background);
  padding: 10px;
}

hr {
  border-color: var(--code-background);
  opacity: .3;
  margin: 30px 0px;
}

.theme-container {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 20px;
  width: 350px;
}
.theme-info {
  padding: 10px 10px 20px 10px;
  background-color: var(--elevation-background);
  width: 100%;
}
.theme-info > .theme-name {
  font-weight: bold;
  font-size: 17pt;
  padding: 5px 0px;
  margin: 0px 0px;
}

.theme-links {
  padding-top: 10px;
}

.theme-links > a {
  margin-right: 10px;
}

.theme-deploy a {
  display: inline-block;
  padding: 1px;
  margin: 0px 5px 0px 0px;
}

.theme-use {
  font-size: 11pt;
  padding: 10px 0px;
}
.theme-use code {
  overflow-x: scroll;
  white-space: nowrap;
}
.theme-create-locally code::-webkit-scrollbar {
  height: 2px;
}
.theme-create-locally code::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

.blog-list-item {
  padding: 10px 10px;
  margin: 15px 0px;
  color: var(--font-color-primary);
}

.blog-list-item h2 {
  margin: 3px 0px !important;
}

.blog-list-item p.date {
  opacity: .8;
  margin: 0px 0px !important;
  padding: 0px;
}

.blog-list-item p.description {
  margin: 0px 0px !important;
}

@media (max-width: 768px) {
  .theme-container {
    width: 100%;
  }

  div.blog-container h1{
    font-size: 30pt;
  }

  .blog-container {
    padding: 140px 20px;
  }

  main {
    display: block;
    width: 100%;
  }
}