main{
  padding: 100px 200px;
}
p{
  margin: 0px;
}
div.blog-container{
  padding-top: 30px;
}
div.blog-container > h1{
  font-size: 30pt;
  font-weight: bold;
}

div.blog-container h2{
  font-size: 23pt;
  font-weight: bold;
  margin-bottom: 14px;
}


div.blog-container h3{
  font-size: 16pt;
  font-weight: bold;
  margin-bottom: 14px;
}

code{
  background-color: var(--code-background);
  padding: 3px 8px;
  border-radius: 4px;
  font-family: var(--font-family-primary);
}


blockquote{
  background-color: var(--code-background);
  margin: 0px;
  padding: 10px;
  padding-left: 20px;
  border-left: 3px solid #333;
}
hr{
  border-color: var(--code-background);
  opacity: .3;
}

@media (max-width: 768px) {
  main{
    padding: 40px 20px;
  }
}