body{
  --background-primary: #fff;
  --font-color-primary: #333;
  --elevation-background: #fff;
  --code-background: #f3f3f3;
  --font-family-primary: 'Noto Sans KR', sans-serif;
}

body.dark-mode{
  --background-primary: #121212;
  --font-color-primary: #ccc; 
  --elevation-background: #1D1D1D;
  --code-background: #222;
}

html, body{
  margin: 0px;
  padding: 0px;
  width: 100%;
  overflow-x: hidden;
}

body{
  background-color: var(--background-primary);
  font-family: var(--font-family-primary);
  color: var(--font-color-primary);
}

h1, h2, h3, h4, h5, h6{
  font-family: var(--font-family-primary);
  color: var(--font-color-primary);
}
*{
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: #09f;
}
.shadow{
  box-shadow: 0 5px 20px -4px #0005;
}

footer{
  padding: 20px 30px;
}
.twitter-share-button{
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--elevation-background);
}



/* DARK MODE SWITCH */
.switch-toggle {
  position: relative;
  float: right;
  right: 0px;
  display: block;
  cursor: pointer;
	width: 60px;
	height: 28px;
	border-radius: 25px;
	background-color: var(--code-background);
}

.switch-toggle input {
  opacity: 0;
}

.switch-toggle input:focus + div {
  border: 2px solid #09f;
}

.switch-toggle div {
	position: absolute;
	border-radius: 50%;
	background-color: #DFDFDF;
	transition: .1s ease;
}

.switch-toggle input:checked + div {
	left: 50%;
	background-color: #aaa;
}

.switch-toggle.rect {
	border-radius: 0;
}

.switch-toggle.rect div {
	border-radius: 0;
}

.switch-toggle.inner div {
	width: 18px;
	height: 18px;
	top: 1px;
	left: 1px;
	
}

.switch-toggle.outer div {
	width: 29px;
	height: 29px;
	top: -0px;
	left: -1.5px;
	
}