/* CSS Variables defined in ./global.css */

header{
  width: 100%;
  padding: 100px 200px;
}
header > h1{
  margin: 10px 0px;
  font-size: 50pt;
}

.article-container{
  padding: 30px 200px 100px 200px;
}
.article-container > article{
  background-color: var(--elevation-background);
  padding: 30px;
  box-shadow: 0 5px 14px -4px #0005;
  margin-bottom: 30px;
}
.article-container > article h2{
  margin: 9px 0px;
}
.article-container .article-description{
  margin: 3px;
}

@media (max-width: 768px) {
  header{
    padding: 30px 20px 100px 20px;
  }
  .article-container{
    padding: 20px 20px 20px 20px;
  }
}